USE [master]
GO
/****** Object:  Database [hiedb]    Script Date: 4/30/2016 2:37:10 PM ******/
CREATE DATABASE [hiedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hiedb', FILENAME = N'C:\Users\rashmi_purbey\hiedb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hiedb_log', FILENAME = N'C:\Users\rashmi_purbey\hiedb_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hiedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hiedb]
GO
/****** Object:  User [HIEUser]    Script Date: 4/30/2016 2:37:10 PM ******/
CREATE USER [HIEUser] FOR LOGIN [HIEUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HIEUser]
GO
/****** Object:  Table [dbo].[EnrollmentStatus]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrollmentStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nchar](20) NULL,
 CONSTRAINT [PK_EnrollmentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[StateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[EnrollmentStatus] [int] NOT NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AadharId] [nvarchar](12) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[MobileNumber] [bigint] NOT NULL,
	[EmailId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDataAccess]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDataAccess](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[AccessRequestDate] [date] NOT NULL,
	[IsLatest] [bit] NOT NULL,
 CONSTRAINT [PK_PatientDataAccess] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDataRequest]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDataRequest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[RequestDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PatientDataRequest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientDataRequestStatus]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDataRequestStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nchar](15) NOT NULL,
 CONSTRAINT [PK_PatientDataRequestStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientTreatmentDetails]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientTreatmentDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[HospitalId] [int] NOT NULL,
	[TreatmentDetails] [nvarchar](max) NOT NULL,
	[Files] [varbinary](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PatientTreatmentDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](20) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/30/2016 2:37:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EnrollmentStatus] ON 

INSERT [dbo].[EnrollmentStatus] ([Id], [Status]) VALUES (1, N'Enrolled            ')
INSERT [dbo].[EnrollmentStatus] ([Id], [Status]) VALUES (2, N'NotEnrolled         ')
INSERT [dbo].[EnrollmentStatus] ([Id], [Status]) VALUES (3, N'Rejected            ')
SET IDENTITY_INSERT [dbo].[EnrollmentStatus] OFF
SET IDENTITY_INSERT [dbo].[Hospital] ON 

INSERT [dbo].[Hospital] ([Id], [HospitalName], [Address], [StateId], [UserId], [EnrollmentStatus]) VALUES (1, N'Fortis', N'Bangalore', 1, 2, 1)
INSERT [dbo].[Hospital] ([Id], [HospitalName], [Address], [StateId], [UserId], [EnrollmentStatus]) VALUES (2, N'Hosmat', N'Bangalore', 1, 3, 1)
INSERT [dbo].[Hospital] ([Id], [HospitalName], [Address], [StateId], [UserId], [EnrollmentStatus]) VALUES (3, N'Apollo', N'Bangalore', 1, 4, 3)
SET IDENTITY_INSERT [dbo].[Hospital] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [AadharId], [FirstName], [LastName], [Address], [DateOfBirth], [MobileNumber], [EmailId]) VALUES (1, N'123456789123', N'Gajanand', N'Sharma', N'Domlur    ', CAST(0x1E180B00 AS Date), 9066062199, N'gajanand@gmail.com')
INSERT [dbo].[Patient] ([Id], [AadharId], [FirstName], [LastName], [Address], [DateOfBirth], [MobileNumber], [EmailId]) VALUES (2, N'123456789213', N'John', N'Smith', N'Address213', CAST(0xB7000B00 AS Date), 9066062199, N'john@gmail.com')
INSERT [dbo].[Patient] ([Id], [AadharId], [FirstName], [LastName], [Address], [DateOfBirth], [MobileNumber], [EmailId]) VALUES (3, N'123456789312', N'Julie', N'Smith', N'Address312', CAST(0x0CE10A00 AS Date), 9066062199, N'julie@gmail.com')
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PatientDataAccess] ON 

INSERT [dbo].[PatientDataAccess] ([id], [PatientId], [HospitalId], [AccessRequestDate], [IsLatest]) VALUES (13912, 1, 2, CAST(0x533B0B00 AS Date), 1)
INSERT [dbo].[PatientDataAccess] ([id], [PatientId], [HospitalId], [AccessRequestDate], [IsLatest]) VALUES (13913, 2, 2, CAST(0x533B0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[PatientDataAccess] OFF
SET IDENTITY_INSERT [dbo].[PatientDataRequest] ON 

INSERT [dbo].[PatientDataRequest] ([id], [HospitalId], [PatientId], [RequestDate], [Status]) VALUES (1, 1, 1, CAST(0x363B0B00 AS Date), 3)
INSERT [dbo].[PatientDataRequest] ([id], [HospitalId], [PatientId], [RequestDate], [Status]) VALUES (2, 2, 2, CAST(0x413B0B00 AS Date), 3)
INSERT [dbo].[PatientDataRequest] ([id], [HospitalId], [PatientId], [RequestDate], [Status]) VALUES (3, 3, 3, CAST(0x4A3B0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[PatientDataRequest] OFF
SET IDENTITY_INSERT [dbo].[PatientDataRequestStatus] ON 

INSERT [dbo].[PatientDataRequestStatus] ([Id], [Status]) VALUES (1, N'Open           ')
INSERT [dbo].[PatientDataRequestStatus] ([Id], [Status]) VALUES (2, N'Closed         ')
INSERT [dbo].[PatientDataRequestStatus] ([Id], [Status]) VALUES (3, N'Broadcasted    ')
SET IDENTITY_INSERT [dbo].[PatientDataRequestStatus] OFF
SET IDENTITY_INSERT [dbo].[PatientTreatmentDetails] ON 

SET IDENTITY_INSERT [dbo].[PatientTreatmentDetails] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'HIEAdmin            ')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'HospitalAdmin       ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateId], [Name]) VALUES (1, N'Karnataka')
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [UserId], [Password], [RoleId]) VALUES (1, N'HIE_Admin', N'Admin', 1)
INSERT [dbo].[Users] ([id], [UserId], [Password], [RoleId]) VALUES (2, N'Fortis_Admin', N'Admin', 2)
INSERT [dbo].[Users] ([id], [UserId], [Password], [RoleId]) VALUES (3, N'Hosmat_Admin', N'Admin', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_EnrollmentStatus] FOREIGN KEY([EnrollmentStatus])
REFERENCES [dbo].[EnrollmentStatus] ([Id])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_EnrollmentStatus]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_State]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_Users]
GO
ALTER TABLE [dbo].[PatientDataAccess]  WITH CHECK ADD  CONSTRAINT [FK_PatientDataAccess_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[PatientDataAccess] CHECK CONSTRAINT [FK_PatientDataAccess_Hospital]
GO
ALTER TABLE [dbo].[PatientDataAccess]  WITH CHECK ADD  CONSTRAINT [FK_PatientDataAccess_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientDataAccess] CHECK CONSTRAINT [FK_PatientDataAccess_Patient]
GO
ALTER TABLE [dbo].[PatientDataRequest]  WITH CHECK ADD  CONSTRAINT [FK_PatientDataRequest_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[PatientDataRequest] CHECK CONSTRAINT [FK_PatientDataRequest_Hospital]
GO
ALTER TABLE [dbo].[PatientDataRequest]  WITH CHECK ADD  CONSTRAINT [FK_PatientDataRequest_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientDataRequest] CHECK CONSTRAINT [FK_PatientDataRequest_Patient]
GO
ALTER TABLE [dbo].[PatientDataRequest]  WITH CHECK ADD  CONSTRAINT [FK_PatientDataRequest_PatientDataRequestStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[PatientDataRequestStatus] ([Id])
GO
ALTER TABLE [dbo].[PatientDataRequest] CHECK CONSTRAINT [FK_PatientDataRequest_PatientDataRequestStatus]
GO
ALTER TABLE [dbo].[PatientTreatmentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PatientTreatmentDetails_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([Id])
GO
ALTER TABLE [dbo].[PatientTreatmentDetails] CHECK CONSTRAINT [FK_PatientTreatmentDetails_Hospital]
GO
ALTER TABLE [dbo].[PatientTreatmentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PatientTreatmentDetails_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientTreatmentDetails] CHECK CONSTRAINT [FK_PatientTreatmentDetails_Patient]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
